<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>

<div class="nav-bar" th:fragment="navFragment">
    <a class="nav-item active" th:href="@{/calendar/calendar(user_id=${user_id})}">
        <i class="fa-solid fa-calendar-days"></i>
        <span>Calendar</span>
    </a>
    <a class="nav-item" th:href="@{/expense/expense}">
        <i class="fa-solid fa-chart-column"></i>
        <span>Expense</span>
    </a>
    <a class="nav-item" th:href="@{/budget/budget}">
        <i class="fa-solid fa-sack-dollar"></i>
        <span>Budget</span>
    </a>
    <a class="nav-item" th:href="@{/category/categoryMain}">
        <i class="fa-solid fa-list"></i>
        <span>Category</span>
    </a>
</div>

</body>
</html>